.footer__title {
  padding: 0 100px 50px 100px;
}
.footer__title_block {
  margin-bottom: 20px;
  h2 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0, 0.8);
    span {
      text-transform: uppercase;
    }
  }
  p {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(0, 0, 0, 0.4);
  }
}

.footer__block {
  padding: 49px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  background-color: rgb(54, 54, 54);
  border-bottom: 1px solid rgb(78, 78, 78);
}
.footer__block_item {
  min-height: 265px;
  color: white;
  h4 {
    margin: 20px 0;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  #footer__num {
    font-size: 20px;
    cursor: pointer;
  }
  p {
    margin: 10px 0;
    display: block;
    opacity: 0.5;
  }
  button {
    margin-top: 35px;
    color: white;
    width: 100%;
    padding: 17px;
    background: linear-gradient(94.43deg, #894fcf -18.98%, #efbdd4 113.48%);
    border-radius: 3px;
    transition: all 0.4s ease-in-out;
  }
  button:hover {
    background: linear-gradient(94.43deg, #63329e -18.98%, #d47ba5 113.48%);
  }
  .soc {
    width: 50px;
    margin-top: 20px;
    div {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border: 1px solid rgb(116, 116, 116, 0.5);
      border-radius: 50%;
      padding: 10px;
      margin-right: 9px;
      img {
        transition: 0.3s;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
  }
  #footer__block_img {
    // width: 70%;
  }
}
.footer__block_date {
  height: 40px;
  background-color: rgb(54, 54, 54);
  padding: 0 100px;
  color: rgb(180, 180, 180);
  font-size: 13px;
  div {
    display: flex;
    align-items: center;
  }
  img {
    margin: 0 20px;
  }
}

.error {
  color: red;
}
// ==============================media//////////////////////////////////

@media screen and (max-width: 1060px) {
  .footer__block {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 568px) {
  .footer__block {
    padding: 16px;
    padding-top: 24px;
    grid-template-columns: 1fr;
  }
  .footer__block_item {
    #footer__block_img {
      width: 60%;
      display: block;
      margin: 0 auto;
    }
  }

  .footer__title {
    padding: 16px;
  }
  .footer__block_date {
    padding: 16px;
    display: block;
    text-align: center;
    height: max-content;
    div {
      width: max-content;
      margin: 0 auto;
      img {
        margin: 0 5px;
      }
    }
  }
}
